/* css styles */
/*website backgroung and text color*/
body {
  background-color: #white; /* Custom white color */
  color: #001233;
}

/*navigation bar color changes*/
.navbar {
  background-color: #001845 !important; /*set background color */
}

.navbar a {
  color: #white !important; /*set link color */
}

.navbar a:hover {
  color: #979DAC !important; /*change link color on hover */
}

/*change the color of the "on this page" section */
#toc-title {
  color: #001233; 
}

#publications {
  color: #001845;
}
