/* css styles */
/*website backgroung and text color*/
body {
  background-color: #white; /* Custom white color */
  color: #001233;
}

/*navigation bar color changes*/
.navbar {
  background-color: #001845 !important; /*set background color */
}

.navbar a {
  color: #white !important; /*set link color */
}

.navbar a:hover {
  color: #979DAC !important; /*change link color on hover */
}

/*change the color of the "on this page" section */
#toc-publications {
  color: #001233; 
}

/* Change the color of the links in the "On This Page" section */
#toc-publications a {
  color: #FFD700; /* Custom color for sublinks */
}

/* Change the color of the links when hovered */
#toc-publications a:hover {
  color: #FF4500; /* Optional: Different color when hovered */
}

