/* css styles */
/*website backgroung and text color*/
body {
  background-color: #white; /* Custom white color */
  color: #black;
}

/*navigation bar color changes*/
.navbar {
  background-color: #283618 !important; /*set background color */
  color: pink !important; /*set text color */
}

.navbar a {
  color: red !important; /*set link color */
}

.navbar a:hover {
  color: #FFD700 !important; /*change link color on hover */
}
